<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">



    <!-- 配置不拦截的资源 -->
    <security:http pattern="/*.html" security="none"/>
    <security:http pattern="/css/**" security="none"/>
    <security:http pattern="/img/**" security="none"/>
    <security:http pattern="/js/**" security="none"/>
    <security:http pattern="/plugins/**" security="none"/>
    <security:http pattern="/seller/add.do" security="none"/>

    <security:http  use-expressions="false">
        <security:intercept-url pattern="/**" access="ROLE_SELLER"/>
        <!-- 定义跳转的具体的页面 -->
        <security:form-login
                login-page="/shoplogin.html"
                default-target-url="/admin/index.html"
                authentication-failure-url="/shoplogin.html"
                always-use-default-target="true"

        />

        <!-- 关闭跨域请求 -->
        <security:csrf disabled="true"/>

<!--        使用框架页-->
        <security:headers>
            <security:frame-options policy="SAMEORIGIN"/>
        </security:headers>

<!--        退出登录-->
        <security:logout/>

    </security:http>



    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider user-service-ref="userDetailService">
            <security:password-encoder ref="bcryptEncoder"></security:password-encoder>
        </security:authentication-provider>
    </security:authentication-manager>

    <!--    引用dubbo服务-->
    <dubbo:application name="pinyougou-shop-web" />
    <dubbo:registry address="zookeeper://192.168.25.66:2181"/>
    <dubbo:reference id="sellerService"  interface="com.pinyougou.sellergoods.service.SellerService" ></dubbo:reference>


    <bean id="userDetailService" class="com.pinyougou.seervice.UserDetailsServiceImpl">
        <property name="sellerService" ref="sellerService"></property>
    </bean>

<!--    密码加密-->
    <bean id="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"></bean>



</beans>
